<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body style="background: #151515 ;">
    <h1 style="color: aliceblue; display:flex ;justify-content: center">Contato</h1> </br>

    <div style=" display:flex ;justify-content: center">
        <a href="https://wa.me/+5585985044772">
        <img
                src="{{ url_for('static',filename='wpp.png') }}"
                alt="me"
                style=" width: 60px ; height: 60px ; border-radius:10px"
        />
        </a>
    </div>
    </br>

    <div style=" display:flex ;justify-content: center">
        <a href="https://www.instagram.com/ders0n_/?next=%2F">
        <img
                src="{{ url_for('static',filename='insta.webp') }}"
                alt="me"
                style=" width: 60px ; height: 60px ; border-radius:10px"
        />
    </a>
    </div>
</br>

<div style=" display:flex ;justify-content: center">
    <a href="https://steamcommunity.com/id/D3rs0nDMen3z/">
    <img
            src="{{ url_for('static',filename='steam.png') }}"
            alt="me"
            style=" width: 60px ; height: 60px ; border-radius:10px"
    />
</a>
</div>
</br>


    <div style=" display:flex ;justify-content: center">
        <a href="https://www.facebook.com/andersonmenezzes/">
        <img
                src="{{ url_for('static',filename='face.png') }}"
                alt="me"
                style=" width: 60px ; height: 60px ; border-radius:10px"
        /></a>
    </div>
</br>

    <a href="https://github.com/And3rs0nMenezes">
    <div style=" display:flex ;justify-content: center">
        <img
                src="{{ url_for('static',filename='git.webp') }}"
                alt="me"
                style=" width: 60px ; height: 60px ; border-radius:10px"
        />
    </a>
    </div>
</br>

<div style=" display:flex ;justify-content: center">
    <a href="mailto:andersonfielads2@gmail.com">
    <img
            src="{{ url_for('static',filename='mail.png') }}"
            alt="me"
            style=" width: 60px ; height: 60px ; border-radius:10px"
    />
</a>
</div>
</br>

<div style=" display:flex ;justify-content: center">
    <a href="https://discord.gg/rgk5t4JS3s">
    <img
            src="{{ url_for('static',filename='disc.png') }}"
            alt="me"
            style=" width: 60px ; height: 60px ; border-radius:10px"
    />
</a>
</div>
</br>

<div style=" display:flex ;justify-content: center">
    <a href="https://www.linkedin.com/in/anderson-l-de-menezes-838851181">
    <img
            src="{{ url_for('static',filename='lin.png') }}"
            alt="me"
            style=" width: 60px ; height: 60px ; border-radius:10px"
    />
</a>
</div>
</br>
</br>
</br>
</br>

    <div style=" display:flex ;justify-content: center">
        <a href="http://127.0.0.1:5000/" ><button style="background: #666666;
        border-radius: 6px; padding: 15px;cursor: pointer; color: aliceblue; border: none; font-size: 16px;width: 150px">
            <b>VOLTAR</b>
        </button>
        </a>
        </div><br/>    
</body>
</html>