<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia</title>
</head>
<body style="background: #151515 ;">
    <h1 style="color: aliceblue; display:flex ;justify-content: center">Experiências Profissionais</h1> </br>
<div>
    <div>
        <h1 style="color: aliceblue">Histórico </h1>
        </br>

        <h2 style="color: aliceblue">Área TI :</h2>
        </br>

        <p style="color: aliceblue; font-size: 20px;">- TechPrint-Informática (Estágio) </br>
        Suporte técnico e manutenção de microcomputadores.</br>
        ( Agosto de 2018 - Novembro de 2018 )</p>
        </br>

        <p style="color: aliceblue; font-size: 20px;">- TechPrint-Informática (Informal)</br>
        Suporte técnico e manutenção de microcomputadores.</br>
        ( Novembro de 2018 - Maio de 2019 )</p>
        </br>
        <h2 style="color: aliceblue">Outras Áreas :</h2>

    </div>

    <div style=" display:flex ;justify-content: center">
        <a href="http://127.0.0.1:5000/" ><button style="background: #666666;
            border-radius: 6px; padding: 15px;cursor: pointer; color: aliceblue; border: none; font-size: 16px;width: 150px">
            <b>VOLTAR</b>
            </button>
        </a>
    </div>
    <br/> 
</div>   
</body>
</html>