<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formacao</title>
</head>
<body style="background: #151515 ;">

    <h1 style="color: aliceblue; display:flex ;justify-content: center">Formação</h1> </br>

<div>
<h1 style="color: aliceblue">Formação Acadêmica :</h1>

<p style="color: aliceblue; font-size: 20px;">- EMEIF Maria José Macário Coelho </br>
( 2 <sup>o </sup>ano ao 6 <sup>o</sup> ano ) - Concluído</p>

<p style="color: aliceblue; font-size: 20px;">- EMEIF Ismael Por Deus</br>
    ( 7 <sup>o </sup>ano ao 9 <sup>o</sup> ano ) - Concluído </p>

<h2 style="color: aliceblue">Curso técnico – Médio (2<sup>o</sup>grau) :</h2>

<p style="color: aliceblue; font-size: 20px;">- EEEP Jaime Alencar de Oliveira - Técnico em Infomática</br>
    ( 1 <sup>o </sup>ano ao 3 <sup>o</sup> ano ) - Concluído</p>
</div>
<div>
<h1 style="color: aliceblue">Graduação :</h1>

<p style="color: aliceblue; font-size: 20px;">- Universidade Estácio de Sá - Análise e Desenvolvimento de Sistemas </br>
( Janeiro de 2019 - Junho de 2019 ) - Matrícula Trancada</p>

<p style="color: aliceblue; font-size: 20px;">- Instituto Federal de Educação, Ciência e Tecnologia do Ceará - Campus Cedro</br>
    ( Julho de 2019 - 2023 ) - Atualmente Cursando</p>
    </div>

<div>
<h1 style="color: aliceblue">Cursos Complementares :</h1>

<p style="color: aliceblue; font-size: 20px;">- SEDUC - Inglês Básico</br>
    ( Janeiro de 2016 ) - Concluído</p>

<p style="color: aliceblue; font-size: 20px;">- SEDUC - Inglês Técnico</br>
    ( Maio de 2016 ) - Concluído</p>

<p style="color: aliceblue; font-size: 20px;">- SEBRAE - Educação Empreendedora</br>
    ( Outubro de 2017 ) - Concluído</p>

<p style="color: aliceblue; font-size: 20px;">- ÁPICE - Metodologia Científica</br>
    ( Abril de 2017 ) - Concluído</p>


   
</div>

<div>
    <h1 style="color: aliceblue">Informações Complementares :</h1>

    <p style="color: aliceblue; font-size: 20px;">- Imagine Cup 2017 , evento Microsoft</br></p>

    <p style="color: aliceblue; font-size: 20px;">- Festival Latino-americano de Instalação de Software Livre (FLISoL) em 2017</br></p>

    <p style="color: aliceblue; font-size: 20px;">- Arduino Day edição 2018 e 2019</br></p>
    
    </div>


    <div style=" display:flex ;justify-content: center">
        <a href="http://127.0.0.1:5000/" ><button style="background: #666666;
        border-radius: 6px; padding: 15px;cursor: pointer; color: aliceblue; border: none; font-size: 16px;width: 150px">
            <b>VOLTAR</b>
        </button>
        </a>
        </div><br/>    
</body>
</html>