<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio</title>
</head>
<body style="background: #151515 ;">

    <div>
    <h1 style="color: aliceblue; display:flex ;justify-content: center">Biografia</h1> </br>
    <h3 style="color: aliceblue;display:flex ;justify-content: center"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Olá! O meu nome é Anderson. Sou natural de Fortaleza , 
         nascido no dia 17 de Maio de 2000 , e agora sou aluno no IFCE-Instituto Federal de Educação, Ciência e Tecnologia do Ceará - Campus Cedro (interior do Estado),
        Sou bacharelando em Sistemas de Informação,atualmente cursando o 5 <sup>o</sup> periodo. </br>
        </br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Meu interesse por Computação e jogos começou quando aos 11-12 anos ganhei um PC , desde muito novo tive contato com diversas tecnologias ,
         onde criei uma paixão muito grande por elas , então decidi seguir essa área , quando adolescente fui aluno na EEEP (Escola Estadual de Ensiono Profissional), 
         onde me tornei Técnico em Informática , e ali tive a certeza que estava no caminho certo. </p>
    </h3>
    </div>

    <div style=" display:flex ;justify-content: center">
        <a href="http://127.0.0.1:5000/" ><button style="background: #666666;
        border-radius: 6px; padding: 15px;cursor: pointer; color: aliceblue; border: none; font-size: 16px;width: 150px">
            <b>VOLTAR</b>
        </button>
        </a>
        </div><br/>
</body>
</html>